.carousel-container {
    white-space: nowrap;
    position: relative;
    transition: transform 1000ms;
}
.dots-container {
    margin: 15px 0 0;
    text-align: center;
}
.carousel-dot {
    display: inline-block;
    margin: 0 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ED1B2F;
    cursor: pointer;
    transition: all 200ms;
}
.carousel-dot:hover {
    background: #ea757f;
}
.carousel-dot_active {
    background: #ED1B2F;
}
.carousel-dot_active:hover {
    background: #ED1B2F;
}